In [1]:
from datetime import datetime
from meteostat import Point, Daily

In [2]:
# Set time period
start = datetime(2015, 1, 1)
end = datetime(2023, 12, 31)

In [3]:
# Create Point for Vila Militar, RJ - BR
dados = Point(-22.866251, -43.403784)

In [4]:
# Get daily data (01/2015 - 12/2023)
data = Daily(dados, start, end)
data = data.fetch()
data.head(20)

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt  pres  tsun
time
2015-01-01  31.0  24.0  40.0   NaN   NaN   47.0   9.9   NaN   NaN   NaN
2015-01-02  32.0  24.0  40.0   NaN   NaN  224.0   7.8   NaN   NaN   NaN
2015-01-03  29.1  26.0  33.0   NaN   NaN  209.0  15.3   NaN   NaN   NaN
2015-01-04  27.1  24.0  34.0   NaN   NaN  165.0   8.6   NaN   NaN   NaN
2015-01-05  25.1  22.0  33.0   NaN   NaN  345.0   5.2   NaN   NaN   NaN
2015-01-06  26.8  22.0  33.0   NaN   NaN  103.0   7.1   NaN   NaN   NaN
2015-01-07  30.2  24.0  36.0   NaN   NaN   95.0   6.3   NaN   NaN   NaN
2015-01-08  30.7  22.0  38.0   NaN   NaN   79.0   7.5   NaN   NaN   NaN
2015-01-09  31.2  23.0  38.0   NaN   NaN   47.0   9.8   NaN   NaN   NaN
2015-01-10  30.5  21.0  40.0   NaN   NaN  103.0   8.1   NaN   NaN   NaN
2015-01-11  30.3  22.0  39.0   NaN   NaN  246.0   8.8   NaN   NaN   NaN
2015-01-12  31.1  24.0  40.0   NaN   NaN  247.0  11.8   NaN   NaN   NaN
2015-01-13  30.2  24.0  37.0   NaN   NaN  225.0  13.4   NaN   NaN   NaN
2015-01-14  30.0  24.0  36.0   NaN   NaN  228.0  10.0   NaN   NaN   NaN
2015-01-15  30.3  24.0  38.0   NaN   NaN  141.0  11.0   NaN   NaN   NaN
2015-01-16  29.0  23.0  34.0   NaN   NaN  221.0  10.3   NaN   NaN   NaN
2015-01-17  29.8  23.0  39.0   NaN   NaN  221.0  10.8   NaN   NaN   NaN
2015-01-18  29.2  22.0  37.0   NaN   NaN    NaN  10.0   NaN   NaN   NaN
2015-01-19  29.4  22.0  37.0   NaN   NaN  216.0  11.3   NaN   NaN   NaN
2015-01-20  29.6  23.0  38.0   NaN   NaN  168.0   9.7   NaN   NaN   NaN